

<main role="main" class="container">
  <div class="row">
    <div class="col">
      <div  class="container">
        <h1  i18n="@@Welcome">Welcome to my website </h1>
        <p  i18n="@@Services" >my website consist of two parts ,</p></div></div></div>
         <div class="row"><div class="col"> <span>
              <a  i18n="@@User" routerLink="/LogIn" routerLinkActive="active-link" style="font-weight: bold;font-size: 24px">User </a>
               <span  i18n="@@And">And</span>
               <a  i18n="@@Admin" routerLink="/LogIn" routerLinkActive="active-link" style="font-weight: bold;font-size: 24px">Admin </a>
                </span> 
       
      </div>
    </div>
  <br><br>  <br><br>  <br><br>  <br><br>  

</main>